.wrapper-class {
  padding: 16px 1rem 1rem 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  border: 1px solid #ccc;
  height: 625px;
}
.toolbar-class {
  border: 1px solid #ccc;
}
