.bgShadow {
  background-color: rgba(33, 33, 33, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.editorContent {
  width: 95%;
  /* height: calc(100% - 5% - 100px); */
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  top: calc(2.5% + 100px);
  bottom: 2.5%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #212121;
}
.editorHeader {
  display: flex;
  align-items: center;
}
.fileName {
  font-size: 48px;
  font-weight: bold;
  margin-left: 32px;
  margin-top: 16px;
}
.editorButtons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}
.save {
  transform: scale(0.8);
  fill: #4052e4;
}
.trash {
  transform: scale(0.8);
  fill: #ff0033;
  z-index: 0;
}
.close {
  transform: scale(1);
  margin-right: 32px;
}
.editorButton {
  transition: 100ms;
}
.editorButton:hover {
  transform: scale(0.9);
}
.close:hover {
  transform: scale(1.1);
}
