.registerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 48px;
}
.inputs {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}
input {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding-bottom: 6px;
}
.inputTitle {
  margin: 0;
  margin-bottom: 6px;
}
.signButtons {
  margin-top: 96px;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  color: white;
  gap: 32px;
}
.signLogin2 {
  border: 1px solid rgb(33, 33, 33);
  opacity: 0.6;
}
.signLogin2:hover {
  opacity: 1;
}
.signRegister2 {
  background: linear-gradient(
    90deg,
    #4052e4 0%,
    rgba(154, 98, 198, 0.6) 53.32%,
    rgba(64, 82, 228, 0.4) 100%
  );
  opacity: 0.6;
}
.signRegister2:hover {
  opacity: 1;
}
.errorRegister {
  position: absolute;
  bottom: 196px;
  color: #ff0033;
  font-size: 18px;
  text-shadow: 0px 0px 3px black;
  text-align: center;
}
